@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  width: 3px;
  background-color: rgb(75, 74, 74);
}
::-webkit-scrollbar-thumb{
  width: 2px;
  background-color: #3375F6;
}


@font-face {
  font-family: 'Custom Font';
  src: url('/fonts/Euclid\ Circular\ A\ Bold.woff2') format('woff2'),
       url('/fonts/Euclid\ Circular\ A\ Light.woff2') format('woff2'),
       url('/fonts/Euclid\ Circular\ A\ Medium.woff2') format('woff2'),
       url('/fonts/Euclid\ Circular\ A\ Regular.woff2') format('woff2'),
       url('/fonts/Euclid\ Circular\ A\ SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

body{
  font-family: 'Custom Font', sans-serif;
  background-color: black;
}

h1{
  font-size: 40px;
  color: white;
}

.bg-custom {
  @apply bg-cover bg-center;
  background-image: url('/Imgs/bgimg1.png');
}

/* styles/globals.css */
@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}

.animate-scroll {
  animation: scroll 1.5s infinite ease-in-out;
}
