.activeScrolled {
  transform: translateY(-20px);
  background-color: #081420;
  padding: 0px 0px 20px 0px;
}

.solder {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url("/Imgs/askar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 550px;
  height: 650px;
  margin-left: auto;
  z-index: -1;
}
.vio {
  position: absolute;
  right: 0;
  bottom: 80px;
  background-image: url("/Imgs/Vio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 550px;
  height: 290px;
  z-index: -1;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .vio {
    display: none;
  }
}

.item_home {
  list-style: none;
  position: relative;
  background-color: aqua;
  height: 130px;
  transition: all 1000ms ease-in-out;
}
.item1 {
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: -3px;
  left: 0px; /* Boshlang'ich qiymat qo'shildi */
  transition: all 1000ms ease;
}

.item1:hover {
  color: #3375f6;
  left: 24px;
  list-style-type: disc;
}

.item2 {
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: 40px;
  left: 0px; /* Boshlang'ich qiymat qo'shildi */
  transition: all 1000ms ease;
}

.item2:hover {
  color: #3375f6;
  left: 24px;
  list-style-type: disc;
}

.item3 {
  cursor: pointer;
  width: max-content;
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: all 1000ms ease;
}

.item3:hover {
  color: #3375f6;
  left: 24px;
  list-style-type: disc;
}

.item4 {
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: 125px;
  left: 200px;
}
.item4:hover {
  color: #3375f6;
  left: 224px;
  list-style-type: disc;
  transition: all 1000ms ease;
}
.item5 {
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: 170px;
  left: 200px;
}
.item5:hover {
  color: #3375f6;
  left: 224px;
  list-style-type: disc;
  transition: all 1000ms ease;
}
.item6 {
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: 218px;
  left: 200px;
}
.item6:hover {
  color: #3375f6;
  left: 224px;
  list-style-type: disc;
  transition: all 1000ms ease;
}
@media (max-width: 900px) {
  .item3 {
    left: 300px;
    top: 0px;
  }
  .item4 {
    top: 165px;
    left: 310px;
  }
  .item5 {
    left: 600px;
    top: 120px;
  }
  .item6 {
    left: 600px;
    top: 160px;
  }
}
@media (max-width: 730px) {
  .item3 {
    left: 250px;
    top: 0px;
  }
  .item4 {
    top: 165px;
    left: 260px;
  }
  .item5 {
    left: 500px;
    top: 120px;
  }
  .item6 {
    left: 500px;
    top: 160px;
  }
}
@media (max-width: 600px) {
  .item3 {
    left: 200px;
    top: 0px;
  }
  .item4 {
    top: 165px;
    left: 210px;
  }
  .item5 {
    left: 400px;
    top: 120px;
  }
  .item6 {
    left: 400px;
    top: 160px;
  }
}
@media (max-width: 510px) {
  .item3 {
    left: 0;
    top: 95px;
  }
  .item4 {
    top: 125px;
    left: 200px;
  }
  .item5 {
    top: 170px;
    left: 200px;
  }
  .item6 {
    top: 218px;
    left: 200px;
  }
}
.items {
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 1000ms ease;
  padding: 12px;
  border: 1px solid #ffffff0a;
  &:hover {
    background: #3375f6;
  }
  &:active {
    transform: translateY(5px);
    transition: all 300ms;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  /* absolute w-3/5 top-[-400px] left-[300px] z-5  */
  position: absolute;
  width: 100%;
  top: -400px;
  z-index: 5;
}
.space {
  position: absolute;
  width: 400vw;
  height: 400vh;
  top: 50%;
  left: 50%;
  margin-top: -200vh;
  margin-left: -200vw;
  animation: spin 200s linear infinite;
  background-size: 240px;
  backface-visibility: visible;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0MCAyNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0MCAyNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IHg9IjEwNiIgeT0iOTAiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz48cmVjdCB4PSI3NCIgeT0iNjMiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIyMyIgeT0iNjYiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSI1MCIgeT0iMTEwIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iNjMiIHk9IjEyOCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjQ1IiB5PSIxNDkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSI5MiIgeT0iMTUxIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iNTgiIHk9IjgiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNDciIHk9IjMzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMiIgaGVpZ2h0PSIyIi8+PHJlY3QgeD0iOTEiIHk9IjQzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMTY5IiB5PSIyOSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjE4MiIgeT0iMTkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNjEiIHk9IjU5IiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMTM4IiB5PSI5NSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjE5OSIgeT0iNzEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIzIiBoZWlnaHQ9IjMiLz48cmVjdCB4PSIyMTMiIHk9IjE1MyIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjIiIGhlaWdodD0iMiIvPjxyZWN0IHg9IjEyOCIgeT0iMTYzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMjA1IiB5PSIxNzQiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNTIiIHk9IjIwMCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjUyIiB5PSIyMTEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz48cmVjdCB5PSIxOTEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxMTAiIHk9IjE4NCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjwvc3ZnPg==);
}

.swiper-slide {
  width: 200px;
  margin: auto;
}

.swiper-slide {
  width: 250px;
  margin: auto;
}


.custom-prev-btn,
.custom-next-btn {
  z-index: 10; /* Tugmalar slayddan yuqorida turishi uchun */
}

.custom-prev-btn {
  left: 20px;
}

.custom-next-btn {
  right: 20px;
}

@media (max-width: 768px) {
  .custom-prev-btn,
  .custom-next-btn {
    width: 6rem;
    height: 2.5rem;
  }
}
